PORT=4000
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/
DB_NAME=
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d
SESSION_SECRET=change-me
CLIENT_URL=http://localhost:5173
BASE_URL=http://localhost:4000
NODE_ENV=development
